.experience {
  background: #252734;
  padding-left: 2rem; }
  .experience .title {
    padding: 1rem; }
  .experience .work {
    display: flex;
    flex-direction: column;
    align-items: center; }
