@media (min-width: 768px) {
  .skills {
	display: flex;
	justify-content: center;
	
	.title {
	  display: flex;
	  justify-content: left;
	}
	.skillItem {
	  width: 48rem;
	  margin-top: 3rem;
	}
  }
}