.skills {
  background: #2A2C39;
  padding-bottom: 2rem;
  
  .title {
    padding: 2rem;
  }
  
  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .skillItem {
      width: 19rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: #252734;
      border-radius: 12px;
      border: 1px solid black;
    }
  }
}