@media (min-width: 768px) {
  .workMain {
    justify-content: center;
    position: relative;
    margin-bottom: 9rem;
    width: 90vw; }
    .workMain .context {
      position: absolute;
      text-align: center; }
      .workMain .context .text {
        position: absolute;
        top: 9rem; } }
