.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 12rem;
  margin-bottom: 2rem;
  
  .contact {
	.icon {
	  color: #0074FF;
	  margin-right: 1rem;
	}
  }

  .social {
	display: flex;
	justify-content: space-evenly;
	width: 67%;
	p {
	  margin: 0;
	  display: flex;
	  align-items: center;
	}
	a {
	  color: white;
	  font-size: 2rem;
	  
	  &:hover {
		color: #0366d6;
	  }
	}
  }
}