@media (min-width: 576px) {
  .footer {
    justify-content: space-evenly;
    height: 7rem; }
    .footer .contact {
      width: 100%;
      display: flex;
      justify-content: space-evenly; }
      .footer .contact span {
        text-align: center; }
        .footer .contact span .icon {
          color: #0074FF;
          margin-right: 0.5rem; }
    .footer .social {
      justify-content: space-evenly; }
      .footer .social p {
        display: flex;
        align-items: center;
        margin: 0; } }
