@media (min-width: 1200px) {
  .workItem {

	.dateContainer {
	}
	.context {

	}
	.right {
	  left: 74%;
	  transform: translate(-80%, -50%);
	}
	.left {
	  left: 33%;
	}
  }
}

@media (min-width: 1400px) {
  .workItem {

	.dateContainer {
	}
	.context {

	}
	.right {
	  left: 69%;
	  transform: translate(-89%, -50%);
	}
	.left {
	  left: 37%;
	}
  }
}