@media (min-width: 768px) {
  .workItem {
    justify-content: center;
    position: relative;
    height: 15rem; }
    .workItem .dateContainer {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    .workItem .right {
      position: absolute;
      left: 77%;
      top: 50%;
      transform: translate(-55%, -50%); }
    .workItem .left {
      position: absolute;
      left: 27%;
      top: 50%;
      transform: translate(-61%, -50%);
      text-align: right; }
      .workItem .left p {
        width: 100%; }
    .workItem .workText {
      width: 15rem; } }
