@media (min-width: 992px) {
  .workItem {
	.dateContainer {
	}
	.context {
	  width: 99%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  margin-left: 0;
	}
	.right {
	}
	.left {
	  p{
	  }
	}
	.workText {
	}
  }
}