.workItem {
  display: flex;
  width: 100vw;
  margin: 0.8rem 0; }
  .workItem .dateContainer {
    background-image: linear-gradient(to right, #00C3FF, #0074FF);
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    position: relative; }
    .workItem .dateContainer .date {
      font-size: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .workItem .context {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem; }
