@media (min-width: 768px) {
  .workItem {
	justify-content: center;
	position: relative;

	.dateContainer {
	}
	.context {
	  position: absolute;

	}
	.right {
	  top: 0;
	  left: 61%;
	}
	.left {
	  top: 0;
	  left: -14%;
	  text-align: right;
	}
  }
}