@media (min-width: 1200px) {
  .workItem .right {
    left: 74%;
    transform: translate(-80%, -50%); }
  .workItem .left {
    left: 33%; } }

@media (min-width: 1400px) {
  .workItem .right {
    left: 69%;
    transform: translate(-89%, -50%); }
  .workItem .left {
    left: 37%; } }
