@media (min-width: 768px) {
  .workItem {
	justify-content: center;
	position: relative;
	height: 15rem;

	.dateContainer {
	  position:absolute;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	}
	.context {
	}
	.right {
	  position: absolute;
	  left: 77%;
	  top: 50%;
	  transform: translate(-55%, -50%);
	}
	.left {
	  position: absolute;
	  left: 27%;
	  top: 50%;
	  transform: translate(-61%, -50%);
	 text-align: right;
	   p{
		 width: 100%;
	   }
	}
	.workText {
	  width: 15rem;
	}
  }
}