.navMenu {
  position: fixed;
  background: #252734;
  width: 100vw;
  z-index: 9999;
  cursor: pointer; }
  .navMenu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; }

.basic {
  background: transparent; }
  .basic li .active {
    color: #00C3FF; }

.blue {
  background-image: linear-gradient(to right, #00C3FF, #0074FF); }
  .blue li .active {
    color: black; }
